* {
	margin: 0;
	padding: 0;
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
h1 {
	text-align: center;
	margin-top:100px;
}
.txtvalue {
	text-align: center;
	margin-top: 140px;
}
.txtvalue > .txt {
	border-right: 2px solid;
}